@font-face {
    font-family: 'MyWebFont';
    src: url('Gilroy-Light.otf'); /* IE9 Compat Modes */
    src: url('Gilroy-Light.otf') format('embedded-opentype'), /* IE6-IE8 */
         url('Gilroy-Light.otf') format('woff2'), /* Super Modern Browsers */
         url('Gilroy-Light.otf') format('woff'), /* Pretty Modern Browsers */
         url('Gilroy-Light.otf')  format('truetype'), /* Safari, Android, iOS */
         url('Gilroy-Light.otf') format('svg'); /* Legacy iOS */
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy-Light', sans-serif;
    color: #0e1b33;
}

.orange-text {
    color: #ff8155;
}

.orange-bg {
    background: #ff8155;
    color: white;
    border-radius: 25px;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
}

.gray-text {
    color: #beb3af;
}

.not-active {
    background: #d3d0d0; 
    width: 35px;
    height: 35px;
    display: inline-block;
    position:relative;
    border-radius: 25px;
}

    .not-active img {
        filter: brightness(2);
        fill: rgb(255, 255, 255);
        display: block;
        margin: auto;
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        
    }

.active {
     background: #ff8155; 
    width: 35px;
    height: 35px;
    display: inline-block;
    position:relative;
    border-radius: 25px;
}

    .active img {
        filter: brightness(2);
        fill: rgb(255, 255, 255);
        display: block;
        margin: auto;
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        
    }


/* Top Bar Start */ 
#topbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    background: #0e1b33;
    justify-items: center;
}

#top-social {
    grid-column: 1;
    margin: 8px;
    align-self: center;
    color: white;
    font-size: 14px;
}

#top-social ul {
    list-style: none;
    margin: 0;
}

#top-social ul li {
    display: inline;
    padding: 5px;
}

#top-contact {
    grid-column: 3;
    align-self: center;
    color: white;
    font-size: 14px;
    font-weight: 100;
}
/* Top Bar End */ 
/* Menu Start */

#menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 10px;
    width: 70%;
    margin: auto auto;
}

#menu-info {
    display: flex;
}

#menu-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 20px;
}

#menu-lang-phone {
    display: flex;
    align-items: center;
    justify-content: start;

}

#lang {
    width: 70px;

}

#menu-lang-phone .orange-bg {
    font-size: 0.8em;

}

#menu-info img {
    padding: 10px;
}
.logo-text {
    margin: 0;
    width: auto;
    font-size: 1.3em;
    font-weight: bolder;
    margin-right: 20px;
}

#menu-links {
    justify-self: end;
}
#menu-links ul {
    list-style: none;
}

#menu-links ul li {
    display: inline;
    padding: 10px;
}

#menu-links ul li:hover {
    border-bottom: 2px solid #0c1626;
}

#menu-links ul li:active {
    border-bottom: 6px solid #0c1626;
}



#menu-links ul li a {
    text-decoration: none;
    color: black;
}

#menu-links ul .orange-bg {
    font-size: 0.8em;
    box-sizing: border-box;
    margin: 30px;
    color: white;
}

/* Banner Start */
#banner {
    display: grid;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-image: rgb(86,1,190); /* Old browsers */
    background-image: url('../images/dots.svg'), -moz-linear-gradient(left, rgba(86,1,190,1) 0%, rgba(143,56,178,1) 50%, rgba(200,111,167,1) 100%); /* FF3.6-15 */
    background-image: url('../images/dots.svg'), -webkit-linear-gradient(left, rgba(86,1,190,1) 0%,rgba(143,56,178,1) 50%,rgba(200,111,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: url('../images/dots.svg'), linear-gradient(to right, rgba(86,1,190,1) 0%,rgba(143,56,178,1) 50%,rgba(200,111,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5601be', endColorstr='#c86fa7',GradientType=1 ); /* IE6-9 */
    min-height: 300px;
    margin-bottom: 40px;
}

#banner h3 {
    align-self: flex-end;
    margin: 10px;
    font-size: 0.8em;
}

#banner h1 {
    align-self: center;
    margin: 0px;
    font-size: 3em;
}

#banner p {
    align-self: flex-start;
    margin: 0px;
    font-size: 0.6em;
}

/* Banner End */
/* Main Start */

#main {
    display: grid;
    grid-template-rows: auto auto;
    width: 60%;
    margin: auto auto;
}

#shop-info {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-self: center;
    justify-content: space-around;
    border: 0.5px solid rgba(0, 0, 0, 0.1); 
    border-radius: 25px;
    width: 100%;
    margin-bottom: 40px;
}

.info-box {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 1fr 1fr;
}

.info-box img {
    grid-column: 1;
    grid-row: 1/-1;
    align-self: center;
}

.info-box h5 {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    margin: 5px;
}

.info-box small {
    margin: 5px;
}


#perPageContainer {
    grid-column: 1 / span 2;
}

#itemsPerPage {
    width: 70px;
}

#filterDropDown {
    grid-column: 3;
}

#filter {
    display: grid;
    grid-template-columns: 90px 1fr;
    margin-bottom: 15px;
    grid-auto-flow: column;
}

#filter #search {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap: 10px;
}

.dropDown {
    border: 0.5px solid rgba(0, 0, 0, 0.1); 
    border-radius: 25px;
    padding: 10px;
    color: rgb(153, 153, 153);
    font-size: 0.8em;
    text-align: center;
    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    
    background: url('../images/down-arrow.svg') no-repeat 90% 50%;
    background-size: 15px;
}

.input-container {
    position: relative;
    width: auto;
    grid-column: 4;
}

.input-container i {
    position: absolute;
    top: 11px;
    left: 130px;
    color: rgb(173, 173, 173);
}

#search input[type="text"] {
    border: 0.5px solid rgba(0, 0, 0, 0.1); 
    border-radius: 25px;
    padding: 10px;
    color: rgb(153, 153, 153);
    font-size: 0.8em;
}

.rating {
    color: rgb(250, 246, 29);
}

#products {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    justify-items: center;
    grid-gap: 0px;
    margin-bottom: 25px;
    grid-row-gap: 50px;
}

.product {
    display: grid;
    width: 250px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px auto auto;
    grid-gap: 10px;
}

.product img {
    grid-column: 1/-1;
    grid-row: 1;
    height: 200px;
    width: auto;
}

.nameAndBrand {
   grid-column: 1/-1;
}
.brand {
    font-size: 1em;
}

.product strong {

}

.product .orange-text {
    grid-column: 1;
    grid-row: 3;
}

.product .rating {
    grid-column: 2/-1;
    grid-row: 3;
    justify-self: end;
}

/* PRODUCTS LIST */

#products-list {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
}

#products-list .product-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto 1fr 1fr;
    width: 100%;

    border-bottom: 1px solid black;
    grid-gap: 20px;
}

#products-list .product-list img{
    grid-row: 1 / -1;
    grid-column: 1;

    height: 100px;
    width: 100px;
}

#products-list .product-list small{
    grid-row: 1;
    grid-column: 2;
}

#products-list .product-list strong{
    grid-row: 2;
    grid-column: 2;
}

#products-list .product-list .rating-list {
    grid-row: 3;
    grid-column: 2;
}

#products-list .product-list .orange-text{
    grid-row: 4;
    grid-column: 3;

    justify-self: end;
}




/* -list end */

#page-select-bottom {
    text-align: center;
}

#page-select-bottom {
    margin-bottom: 45px;
}

#page-select-bottom ul {
    list-style: none;
}

#page-select-bottom ul li {
    display: inline;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 50%;
    color: #9fa7c5;
}

.active-page {
    background: #ff8155 !important;
    color: #ffffff !important;
}

footer {
     background: url("../images/dots.svg"), #0c1626;
}

#footer-container {
    width: 60%;
    margin: auto auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    padding-top: 50px;
    grid-gap: 20px;
}
#footer-info {
    display: grid;
    grid-template-rows: 100px 150px 37px;
}

#footer-info img, h4 {
    grid-row: 1;
    width: auto;
}

#logo-footer {
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bolder;
}

.logo-container {
    display: flex;
    align-content: center ;
}

#footer-container h4 {
    display: flex;
    align-self: center;
}

#footer-info .gray-text {
    font-size: 0.8em;
    line-height: 20px;
    grid-row: 2;
}

#footer-info ul {
        list-style: none;
        margin: 0;
        padding: 0;
        grid-row: 3;
    }
    
    #footer-info ul li {
        display: inline;
        padding: 5px;
        display: inline;
        background: #ffffff;
        padding: 10px;
        border-radius: 50%;
        color: #30353d;
    }

    #footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px auto;
    }

#footer-links h4 {
    color: #ffffff;
    font-size: 1.2em;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    text-decoration: none;
}

#footer-links a{
    text-decoration: none;
    color: #ffffff;
}

#links-left, #links-right {
    list-style: none;
    grid-row: 2;
    padding: 0;
}

#links-left li, #links-right li {
    padding-top: 0;
    padding: 10px;
    font-size: 0.8em;
    font-weight: 600;
}

#footer-news {
    display: grid;
    grid-template-rows: 100px auto auto auto;

}
#footer-news h4 {
    color: #ffffff;
    font-size: 1.2em;
}
#footer-news img {
    grid-column: 1;
    grid-row: 1/-1;
}

#footer-news h5 {
    color: #ffffff;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
}

#footer-news small {
    color: #a9b2c0;
    grid-column: 2;
    grid-row: 2;

}

.footer-news {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 40px 20px;
    align-items: center;
    grid-gap: 15px;
}

#footer-bottom {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
margin-bottom: 40px;

}

#footer-bottom span {
    grid-column: 1;
    align-self: center;

}
#to-top-button {
    background: #15ee90;
    border: none;
    border-radius: 25px;
    padding: 20px;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px;
    width: 150px;
    grid-column: 2;
    justify-self: end;
    align-self: center;
    padding: 0;
}