<div id="products" ng-controller="productsController">
        <div class="product" ng-repeat="product in products | filter: search:wholeWord | orderBy: sortColumn:reverseSort | limitTo: rowLimits">
            
            <img ng-src="{{ product.img }}">
            <div class="nameAndBrand">
                <small class="brand">{{ product.brand }}</small>
                <strong>{{ product.productname }}</strong>
            </div>
            <span class="orange-text">{{ product.price + ":-"}}</span>
            <span class="rating">
                <i class="fas fa-star" ng-repeat="x in [].constructor(product.rating) track by $index"></i>
            </span>
        </div>
</div>