<div id="products-list" ng-controller="productsController">
    <div class="product-list" ng-repeat="product in products | filter: search:wholeWord | orderBy: sortColumn:reverseSort | limitTo: rowLimits">
        <img ng-src="{{ product.img }}">
        <small class="brand-list">{{ product.brand }}</small>
        <strong>{{ product.productname }}</strong>
        <span class="orange-text">{{ product.price + ":-"}}</span>
        <span class="rating-list">
            <i class="fas fa-star" ng-repeat="x in [].constructor(product.rating) track by $index"></i>
        </span>
    </div>
</div>