<div id="products-list">
    <div class="product-list" ng-repeat="product in products | orderBy: sortColumn:reverseSort | filter: searchText:wholeWord | limitTo: productsPerPage">
        <img ng-src="{{ product.img }}">
        <small class="brand-list">{{ product.brand }}</small>
        <strong>{{ product.productname }}</strong>
        <span class="orange-text">{{ product.price + ":-"}}</span>
        <span class="list-rating">
            <i class="fas fa-star" ng-repeat="x in [].constructor(product.rating) track by $index"></i><i class="fas fa-star gray" ng-repeat="x in [].constructor(5 - product.rating) track by $index"></i>
        </span>
    </div>
</div>